<div class="container py-2">
    <div class="row">
        <div class="col-md-4">
            <app-accordion-test [title1]="testtitle1"></app-accordion-test>
        </div>
        <div class="col-md-4">
            <app-test></app-test>
        </div>
        <div class="col-md-4">
            <app-output-test (settitle1)="updateTitle($event)"></app-output-test>
        </div>
    </div>
</div>

<app-domtest></app-domtest>